@import '~css/constants.css';

.menu {
  width: 100%;
  color: var(--fgbui-black);
  text-decoration: none;
}

.level1 {
  padding: 16px 24px;
  font-size: 1.2rem;
}

.level2 {
  padding: 16px 16px 16px 24px;
  justify-content: left;
}