@import '~css/constants.css';

.container_horizontal {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container_vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 1rem;
  text-align: left;
}

.inputContainer { position: relative }

.input {
  display: block;
  width: 100%;
  padding: 8px;

  border: solid 1px var(--fgbui-dark-font-grey);
  border-radius: 0.125rem;
  font-size: 0.85rem;
  outline: none;
}
.input:focus {
  border: solid 1px var(--fgbui-blue);
}

/* Типы input согласно статусам: error, valid */
.input_default {}

.input_error,
.input_error:focus {
  border: solid 1px var(--fgbui-red);
}
.input_error:focus { background-color: var(--fgbui-light-red) }

.input_valid,
.input_valid:focus {
  border: solid 1px var(--fgbui-green);
}
.input_valid:focus { background-color: var(--fgbui-light-green) }

/* Контейнер для подсказки */
.tooltip {
  position: absolute;
  top: 100%;
  transform: translateX(0);
  z-index: 2;

  width: 100%;
  margin-top: 5px;

  visibility: hidden;
  opacity: 0;
  transition: opacity .75s linear;
}

.input:focus-within + .tooltip,
.input:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}