@import '~css/constants.css';

.tooltip {
  width: 100%;
  padding: 8px;

  background-color: rgba(255, 255, 255, .75);
  border: solid 1px var(--fgbui-black);
  border-radius: 0.125rem;
  color: var(--fgbui-black);
  font-size: 0.75em;
  text-align: left;
}

.tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -4px;
  border-color: transparent transparent var(--fgbui-black) transparent;
  border-style: solid;
  border-width: 4px;
}

/* Типы подсказок: error(красный), info(синий), success(зелёный), warning(жёлтый) */
.tooltip_error {
  background-color: var(--fgbui-red);
  border: none;
  color: white;
}

.tooltip_error::after {
  border-color: transparent transparent var(--fgbui-red) transparent;
}

.tooltip_info {
  background-color: var(--fgbui-blue);
  border: none;
  color: white;
}

.tooltip_info::after {
  border-color: transparent transparent var(--fgbui-blue) transparent;
}

.tooltip_success {
  background-color: var(--fgbui-green);
  border: none;
  color: white;
}

.tooltip_success::after {
  border-color: transparent transparent var(--fgbui-green) transparent;
}

.tooltip_warning {
  background-color: var(--fgbui-yellow);
  border: none;
  color: var(--fgbui-black);
}

.tooltip_warning::after {
  border-color: transparent transparent var(--fgbui-yellow) transparent;
}